#include "winres.h"
LANGUAGE LANG_ENGLISH, SUBLANG_NEUTRAL
STRINGTABLE
BEGIN
	10000 "#1 Main between Alllard and X Over"
	10001 "#1 Main between CP Caliente and CP Ilmon"
	10002 "#1 Main between X over and Bealville"
	10003 "#2 Main between CP Caliente and CP Ilmon"
	10004 "#2 Main between X over and Bealville"
	10005 "#2Main between Allard and X over"
	10006 "App to CP Gomez M1"
	10007 "App to CP Gomez M2"
	10008 "App to CP Lopez"
	10009 "App to CP Lopez M1"
	10010 "App to CP Lopez M2"
	10011 "App to CP Marcel"
	10012 "App to CP Marcel (bottom Track)"
	10013 "BNSF M1 to Kern Jct"
	10014 "BNSF M2 to Kern Jct"
	10015 "BNSF Main at Mojave Jct"
	10016 "BNSF Single main to Sanborn"
	10017 "Between Bakersfield and West Bakersfield M2"
	10018 "Between Bena and CP Ilmon"
	10019 "Between Gomez and Bakersfield M1"
	10020 "Boron Main"
	10021 "Boron SSDG"
	10022 "Cliff Main"
	10023 "Cliff SSDG"
	10024 "Edwards Main"
	10025 "Hinkley Main"
	10026 "Hinkley SSDG"
	10027 "Jim Grey  SSDG"
	10028 "Jim Grey Main"
	10029 "M1 App Camron Block"
	10030 "M1 App block to Teh"
	10031 "M1 App to BNSF X OVer at Mojave"
	10032 "M1 Between Camron and BNSF X Over at Mojave"
	10033 "M1 between Amtrak Bakersfield and Bakersfield"
	10034 "M1 between Teh App Block and Cameron App Block"
	10035 "M1 between Xover and Teh"
	10036 "M1 btween Cable and X over"
	10037 "M2 App Cameron Block "
	10038 "M2 App block to Teh"
	10039 "M2 App to BNSF X Over at Mojave"
	10040 "M2 Btween Camron and BNSF X Over at Mojave"
	10041 "M2 between Cable and X over"
	10042 "M2 between Teh App Block and Cameron App Block"
	10043 "M2 between X over and Teh"
	10044 "M2 between Yard and Bakersfield M2"
	10045 "Main at Bisel"
	10046 "Main at Sanborn"
	10047 "Rowen Main"
	10048 "Rowen SSDG"
	10049 "SSDG Bisel"
	10050 "SSDG Edwards"
	10051 "SSDG Sanborn"
	10052 "Signle Main between Silt and Boron"
	10053 "Signle Main between Woodward and Walong"
	10054 "Silt Main"
	10055 "Silt SSDG"
	10056 "Single Main between Bealvilee and Cliff"
	10057 "Single Main between Cliff and Rowen"
	10058 "Single Main between Marcel and Cable"
	10059 "Single Main between Rowen and Woodward"
	10060 "Single Main between Waco and North Bakersfield"
	10061 "Single main between Bisel and Edwards"
	10062 "Single main between Boron and Jim Grey"
	10063 "Single main between Edwards and Silt"
	10064 "Single main between Hinkley and HutT"
	10065 "Single main between Jim Grey and Hinkley"
	10066 "Single main between Sanborn and Bisel"
	10067 "UP Main 1 betweeen North Bakersfield & Kern Jct"
	10068 "UP Main 1 between Kern Jct and Sand Cut"
	10069 "UP Main 1 between Sandcut and Bena"
	10070 "UP Main 2 between Kern Jct and Sand Cut"
	10071 "UP Main 2 between North Bakersfield & UP Bakersfield Yd"
	10072 "UP Main 2between Sand Cut and Bena"
	10073 "UP Main @Waco"
	10074 "UP Main to Ansel"
	10075 "UP at WACO (West)"
	10076 "WACO SSDG"
	10077 "Walong Main"
	10078 "Walong SSDG"
	10079 "Woodward Main"
	10080 "Woodward SSDG"
	10081 "between Gomez and West Bakersfield M1"
	10082 "single main between CP Caliente and Allard"
END
